[project]
	description = Documentation
[access "refs/for/*"]
	pushMerge = group extra-webdocs
	pushMerge = group ldap/extras_webdocs
[access "refs/for/refs/heads/*"]
	push = group extra-webdocs
	push = group ldap/extras_webdocs
[access "refs/heads/*"]
	abandon = group extra-webdocs
	abandon = group ldap/extras_webdocs
	create = group extra-webdocs
	create = group ldap/extras_webdocs
	forgeAuthor = group extra-webdocs
	forgeAuthor = group ldap/extras_webdocs
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group extra-webdocs
	label-Code-Review = -2..+2 group ldap/extras_webdocs
	submit = group Administrators
	submit = group extra-webdocs
	submit = group ldap/extras_webdocs
	editTopicName = group extra-webdocs
	editTopicName = group ldap/extras_webdocs
[access "refs/meta/config"]
	read = group extra-webdocs
	read = group ldap/extras_webdocs
[access "refs/tags/*"]
	pushTag = group extra-webdocs
	pushTag = group ldap/extras_webdocs
	pushSignedTag = group extra-webdocs
	pushSignedTag = group ldap/extras_webdocs
[access "refs/*"]
	read = group GitHub Replication
[access "refs/heads/stage-14.12-ddapi"]
	abandon = group webdocs
	create = group webdocs
	forgeAuthor = group webdocs
	label-Code-Review = -2..+2 group webdocs
	submit = group webdocs
	editTopicName = group webdocs
