[project]
	description = Documentation
[access "refs/for/*"]
	pushMerge = group ldap/extras_webdocs
[access "refs/for/refs/heads/*"]
	push = group ldap/extras_webdocs
[access "refs/heads/*"]
	abandon = group ldap/extras_webdocs
	create = group ldap/extras_webdocs
	forgeAuthor = group ldap/extras_webdocs
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group ldap/extras_webdocs
	submit = group Administrators
	submit = group ldap/extras_webdocs
	editTopicName = group ldap/extras_webdocs
	read = group GitHub Replication for extras
[access "refs/meta/config"]
	read = group ldap/extras_webdocs
[access "refs/tags/*"]
	pushTag = group ldap/extras_webdocs
	pushSignedTag = group ldap/extras_webdocs
	read = group GitHub Replication for extras
