[project]
	description = Documentation
[access "refs/for/*"]
	pushMerge = group ldap/extras_webdocs
[access "refs/heads/*"]
	abandon = group ldap/extras_webdocs
	create = group ldap/extras_webdocs
	forgeAuthor = group ldap/extras_webdocs
	push = group ldap/extras_webdocs
	label-Code-Review = -2..+2 group ldap/extras_webdocs
	submit = group ldap/extras_webdocs
	editTopicName = group ldap/extras_webdocs
[access "refs/meta/config"]
	read = group ldap/extras_webdocs
[access "refs/tags/*"]
	pushTag = group ldap/extras_webdocs
	pushSignedTag = group ldap/extras_webdocs
